services:

  # Vite/Vue-based frontend for SAGE Integration
  opaca-llm-frontend:
    build: ./Frontend
    image: opaca-llm-frontend
    ports:
      - "5173:5173"
    depends_on:
      - opaca-llm-backend
      #- opaca-tts-server
    environment:
      VITE_PLATFORM_BASE_URL:
      VITE_BACKEND_BASE_URL:
      VITE_DEFAULT_METHOD:
      VITE_BACKLINK:
      VITE_VOICE_SERVER_URL:
      VITE_AUTOCONNECT:
      VITE_COLOR_SCHEME:
      VITE_DEFAULT_LANGUAGE:

  # FastAPI-based backend for SAGE Integration
  opaca-llm-backend:
    build: ./Backend
    image: opaca-llm-backend
    depends_on:
      - backend-db
    ports:
      - "3001:3001"
    environment:
      OPENAI_API_KEY:
      ANTHROPIC_API_KEY:
      MISTRAL_API_KEY:
      GEMINI_API_KEY:
      LLM_HOSTS:
      LLM_API_KEYS:
      LLM_MODELS:
      CORS_WHITELIST:
      MONGODB_URI: "mongodb://user:pass@backend-db:27017"
    volumes:
      - appdata:/app/data

  # MongoDB for storing session data
  backend-db:
    image: mongo:8.0.14
    ports:
      - "127.0.0.1:27018:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: user
      MONGO_INITDB_ROOT_PASSWORD: pass
    volumes:
      - mongodata:/data/db
      - mongoconfig:/data/configdb

  # TTS Server for voice synthesis
  opaca-tts-server:
    build: ./tts-server
    image: opaca-tts-server
    ports:
      - "7431:7431"
    environment:
      OPENAI_API_KEY:
    profiles:
      - "tts"
      - "all"

  # Optional OPACA platform service
  opaca-platform:
    image: ghcr.io/gt-arc/opaca/opaca-platform:main
    ports:
      - "8000:8000"
    environment:
      PORT: 8000
      PUBLIC_URL:
      PLATFORM_ENVIRONMENT: DOCKER
      ENABLE_AUTH: false
      DB_EMBED: true
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    profiles:
      - "platform"
      - "all"


# Create a volume to persistently store data
volumes:
  mongodata:
    driver: local
  mongoconfig:
    driver: local
  appdata:
    driver: local
